/** color **/
$cm-color-fg = #333
$cm-color-fg-light = #666
$cm-color-fg-x-light = #999
$cm-color-symbol = #ccc

$cm-color-bg = white
$cm-color-bg-highlight = #e6f7f3
$cm-color-stage = #f2f2f2
$cm-color-stage-backdrop = #999

$cm-color-primary = #0082f1
$cm-color-link = $cm-color-primary
$cm-color-splitter = #eee

/** text **/
$cm-font-size-s = $cm-font-size - 2
$cm-font-size-xs = $cm-font-size - 4
$cm-font-size-l = $cm-font-size + 2
$cm-font-size-xl = $cm-font-size + 4

/** layout **/
$cm-content-padding = 20px
$cm-section-gap = 20px

$cm-border-radius = 4px
